body {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 1.25em;
  margin: 16px;
  background: #000;
  color: #fff;
}

h1 {
  text-align: center;
  line-height: 1.5;
  margin: 0;
}

#ethan, #content {
  display: block;
  margin: 0 auto;
}

#content {
  width: 640px;
}